.GoalCard {
  background: white;
  padding: 0.8rem;
  margin-top: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

  &__title {
    font-size: 1.6rem;
  }

  &__progress-top {
    margin-top: 0.8rem;

    &-slash {
      margin: 0 0.2rem;
    }
  }

  &__progress-bottom {
    line-height: 1;
  }

  &__progress-bar {
    .ant-progress-bg {
      background-color: $color-danger;
    }
  }
}
