.GoalsList {
  padding: 1rem;
  background: $color-light-grey;
  display: inline-block;
  width: 94%;
  vertical-align: top;
  height: 100%;
  overflow-y: auto;
  margin-right: 1rem;

  @include respond(sm) {
    width: calc(100% / 3);
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }

  &__spin {
    padding-top: 4rem;
  }
}
