.GoalsList {
  flex-basis: 32.5%;
  padding: 1rem;
  background: $color-light-grey;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }

  &__spin {
    padding-top: 4rem;
  }

  &__cards {
    flex-grow: 1;
    overflow-y: auto;
  }
}
