.Header {
  padding: 0 1rem;

  &__container {
    height: 100%;

    @include respond(xl) {
      @include container;
    }
  }

  &__logo-box {
    display: inline-block;
    height: 100%;
  }

  &__logo {
    height: 60%;
  }
}
