.Home {
  height: 100%;
  padding: 0 1rem;
  overflow: auto;

  &__landing {
    @include homeTextContainer;
  }

  &__goals-container {
    @include container;
    height: 100%;
    padding: 2rem 0;
    white-space: nowrap;
  }
}
