.Home {
  height: 100%;

  &__landing {
    padding-top: 20vh;
    text-align: center;
  }

  &__goals-container {
    @include container;
    height: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
  }
}
