.NewGoal {
  padding: $content-padding;
  @include respond(xl) {
    @include container;
  }

  &__checkbox + &__checkbox {
    margin-left: 0;
    display: block;
  }

  &__add-item-input {
    margin-bottom: 0.6rem;
  }
}
