@mixin respond($breakpoint) {
  // 576px
  @if $breakpoint == sm {
    @media (min-width: 36em) {
      @content;
    }
  }

  // 768px
  @if $breakpoint == md {
    @media (min-width: 48em) {
      @content;
    }
  }

  // 992px
  @if $breakpoint == lg {
    @media (min-width: 62em) {
      @content;
    }
  }

  // 1200px
  @if $breakpoint == xl {
    @media (min-width: 75em) {
      @content;
    }
  }
}

@mixin authenticationForm {
  padding: 7rem 1rem;
  max-width: 40rem;
  margin: 0 auto;
}
