$max-width: 114rem;
$authentication-form-width: 40rem;
$authentication-form-padding: 7rem 1rem;
$content-padding: 3rem 1rem;

$color-primary: #60ba68;
$color-danger: #ec5c58;
$color-light-grey: #f4f5f7;
