body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

.heading-primary {
  &--main {
    display: block;
    font-size: 4rem;
    letter-spacing: 0.3rem;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
}
