.u-right {
  text-align: right;
}

.u-hover {
  &--primary:hover {
    color: $color-primary;
  }

  &--error:hover {
    color: $color-danger;
  }
}

.u-color-danger {
  color: $color-danger;
}

.u-margin-bottom-sm {
  margin-bottom: 10px !important;
}
